.title {
    font-size: 75px;
    font-family: monospace;
    text-align: center;
    
}
#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  body {
      background-color: green;
  } 
  img {
      width: 85px;
  }
  button {
    background-color: rgb(47, 211, 184); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: monospace;
  }